*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.recipe-detail{
 display: none;
 position: fixed;
background-color: rgb(52, 13, 13);
opacity: 0.8;
height: 70vh;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
padding: 30px;
color: white;
overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  ::selection {
    color: rgb(255, 253, 253);
    background: rgb(98, 24, 45);
  }